discord.py==2.0.0
python-dotenv

opencv-python-headless
numpy
pillow
requests
aiohttp

ta==0.10.2
pandas
matplotlib

pytesseract==0.3.10

transformers
torch
torchvision
scikit-learn
scipy

sentencepiece
