# Discord Bot
discord.py==2.0.0
python-dotenv

# الرؤية الحاسوبية
opencv-python-headless
numpy
pillow
requests
aiohttp

# التحليل الفني
ta==0.10.2
pandas
matplotlib

# الذكاء الاصطناعي
transformers
torch
torchvision
scikit-learn
scipy

# نماذج HuggingFace
sentencepiece
